@import url("https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Inter:wght@400;700&family=Ubuntu&display=swap");

* {
  padding: 0;
  border: 0;
  margin: 0;
}

:root {
  --cor-background-icons: #f5f5f5;
  --cor-background: #fbe8d3e8;
  --cor-principal: #0e2954;
  --cor-secundaria: #1f6e8c;
  --cor-terciaria: #2e8a99;
  --cor-hover: #84a7a1;
  --fonte-principal: "Ubuntu", sans-serif;
  --cor-texto-principal: #14c86e;
  --cor-texto-apoio: #00b4f0;
  --cor-gradient: linear-gradient(to right, #883840, #9b111e);
  --cor-texto-default: black;
}

body {
  height: 100vh;
  background-color: var(--cor-background);
}

header {
  display: flex;
  align-items: center;
  background-color: var(--cor-principal);
  font-family: var(--fonte-principal);
  padding: 2%;
  justify-content: space-between;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.nav__name {
  font-size: 1.8rem;
  color: #9b111e;
}

.items__header {
  font-size: 1.5rem;
  display: flex;
  gap: 1rem;
}
.items__header a {
  text-decoration: none;
  color: var(--cor-texto-principal);
}

.first__content {
  display: flex;
  width: 100%;
  justify-content: center;
  font-family: var(--fonte-principal);
  align-items: center;
}
.text {
  font-size: 1.3rem;
}

.first__text {
  font-size: 2rem;
  color: var(--cor-texto-default);
  padding-top: 4%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-left: 5%;
  width: 50%;
}
.name {
  font-size: 4rem;
  color: var(--cor-texto-apoio);
}

.first__text h1 {
  font-size: 5rem;
  color: var(--cor-texto-apoio);
}

.text__about {
  font-size: var(--fonte-principal);
  font-size: 1.3rem;
  width: 80%;
  max-width: max-content;
  margin-top: 1%;
}
.first__image {
  display: flex;
  width: 50%;
  max-width: max-content;
  margin-top: 2%;
}
.image__portifolio {
  max-width: 500px;
  max-height: 500px;
  margin-top: 10%;
  border-radius: 12px;
  box-shadow: 1px 1px 10px gray;
}

.nav__menu {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  float: left;
  margin-top: -23%;
  margin-left: 2%;
  align-items: center;
  justify-content: center;
}

.button {
  padding: 0.7rem;
  background-color: var(--cor-principal);
  border-radius: 20px;
}

.button li {
  display: flex;
  align-items: center;
}
