@import url("https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Inter:wght@400;700&family=Ubuntu&display=swap");

* {
  padding: 0;
  border: 0;
  margin: 0;
}

:root {
  --cor-background-icons: #f5f5f5;
  --cor-background: #fbe8d3e8;
  --cor-principal: #0e2954;
  --cor-secundaria: #1f6e8c;
  --cor-terciaria: #2e8a99;
  --cor-hover: #84a7a1;
  --fonte-principal: "Ubuntu", sans-serif;
  --cor-texto-principal: #14c86e;
  --cor-texto-apoio: #00b4f0;
  --cor-gradient: linear-gradient(to right, --cor-principal, blue);
  --cor-texto-default: black;
}
body {
  height: 100vh;
  background-color: var(--cor-secundaria);
  font-family: var(--fonte-principal);
}
header {
  display: flex;
  align-items: center;
  background-color: var(--cor-principal);
  font-family: var(--fonte-principal);
  padding: 2%;
  justify-content: space-between;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.button_return {
  display: flex;
  width: 90%;
  margin-top: 2%;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.first__content {
  margin-top: 7%;
  display: flex;
  width: 70%;
  justify-content: center;
  align-items: center;
}

.first__text {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
  margin-bottom: 5%;
}
.about {
  font-size: 2rem;
  color: var(--cor-texto-principal);
}

.text__about {
  font-size: 1.5rem;
}

.botton__about {
  border-radius: 15px;
  padding: 1rem;
  text-align: center;
  width: 17%;
  gap: 1rem;
  border: 2px solid var(--cor-texto-principal);
  color: var(--cor-texto-principal);
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-bottom: 2%;
}

.botton__about:hover {
  background-color: var(--cor-principal);
}

.second__content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  flex-direction: column;
}

.second__title {
  color: var(--cor-texto-principal);
  margin-bottom: 1rem;
}

.icons__skills {
  display: flex;
  border-radius: 12px;
  width: 100%;
  height: 8rem;
  background-color: var(--cor-principal);
  justify-content: center;
  align-items: center;
  margin-bottom: 7rem;
}

.list__icons {
  display: flex;
  gap: 3rem;
}
.img__icons {
  list-style-type: none;
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-direction: column;
  color: black;
  font-weight: bold;
}

footer {
  display: flex;
  justify-content: center;
}
